@import "../../vars.css";

.container {
    margin-top: 50px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: var(--color-text);
    margin-left: 8%;
    margin-right: 10%;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.6) 0%, rgba(12, 12, 12, 0.6));
    box-shadow: 0 16px 14px 0  rgba(12, 12, 12, 0.6);
    padding: 18px 24px;
    width: 500px;
    height: auto
}

.video {
    margin-bottom: 26px;
    border-radius: 10px;
}

.project h3 {
    font-size: 25px;
    font-weight: 700;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading img {
    transition: transform 0.15s ease-in-out;   
    filter: invert(1); 
}

/* Hover effect */
.heading a:hover img{
    transform: scale(1.1);
}

.project p {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
}


@media screen and (max-width: 600px) {
    .title {
        font-size: 32px;
        margin-top: 60px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .container {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }   
    .projects {
        margin-top: 20px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .project {
        width: 90vw;
        margin-left: 0px;
    }

    .project h3 {
        font-size: 22px;
        font-weight: 500;
    }
    
    .heading {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .heading img {
        transition: transform 0.15s ease-in-out;   
        filter: invert(1); 
    }
    
    /* Hover effect */
    .heading a:hover img{
        transform: scale(1.1);
    }
    
    .project p {
        margin-top: 6px;
        font-size: 14px;
        font-weight: 200;
    }

    .video {
        width: auto;
        height: auto;
        margin-bottom: 26px;
        border-radius: 10px;
    }

}
