@import "./vars.css";

.App {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.snap {
    height: 100vh; /* Full viewport height */
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable snap scrolling on the Y-axis */
    scroll-behavior: smooth; /* Smooth scrolling when snapping */
  }

/* Hide scrollbar (for Webkit browsers) */
.snap::-webkit-scrollbar {
    display: none;
  }

